*{
    margin: 0px;
    padding: 0px;
    
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    margin:3px;
}

/* Toggler CSS */

.menu-bar .navbar-toggler {
    padding-right: 20px;
    outline: none !important;
    border: none !important;
}

.navbar .fa {
    color: #000 !important;
    font-size: 26px;
}

/* Hover effect css on menu */
.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid #000;
   }

/* .navbar-nav {
       justify-content: center !important;
} */
h1 {
    
}

.fontawesome {
    display: flex;
    justify-content: center;
    }

.fontawesome .nav .nav-item {
    padding: 0px 10px 0px 10px;
    margin: 10px;
    font-size: xx-large;
    background-color: aqua;
}

/* .card-img-top {
    width: auto
    height: auto;
    object-fit: cover;
} */

.yoso{
    text-align: center;
    font-size: 120px;
   }

.lead{
    text-align: center;
}

.nav-link {
    color: #000;
}

/* Footer css */
.footer-menu {
    padding-left: 3px;
}

@media only screen and (max-width: 1000px){
    .nav-link:hover{
        border-bottom: none !important;
    }
    
}

@media only screen and (max-width:600px) {
    .fontawesome .nav .nav-item {
        padding: 0px 5px 0px 5px;
        margin: 5px;
        font-size: large;
        background-color: aqua;
    }
}