.fontawesome {
    display: flex;
    justify-content: center;
      
}

/* .card-img-top {
    width: auto
    height: auto;
    object-fit: cover;
} */

.yoso{
    text-align: center;
    font-size: 120px;
   }

.lead{
    text-align: center;
}

.nav-link {
    color: #000;
}