* {
    margin: 0px;
    padding: 0px;

}
/* Logo CSS */
.navbar-brand {
    border: 2px solid rgb(255, 146, 3);
    padding-left: 5px;
    padding-right: 5px;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    margin: 3px;
}

/* Toggler CSS */

.menu-bar .navbar-toggler {
    padding-right: 20px;
    outline: none !important;
    border: none !important;
}

.navbar .fa {
    color: #000 !important;
    font-size: 26px;
}

/* Hover effect css on menu */
.nav-link:hover {
    font-weight: 600;
    border: 1px solid rgb(255, 146, 3);
}


/* CSS FOR THE FONTAWESOME */
.fontawesome {
    display: flex;
    justify-content: center;
}

.fa-2x a {
    color: #000;
}

.fa-2x a:hover {
    color: rgb(3, 104, 255);
}

/* PROJECTS TEXT ALIGNMENT */
.card-title {
    display: flex;
    justify-content: center;
}

.yoso {
    font-size: 10vw;
}


.nav-link {
    color: #000;
}

/* hero HELLO CSS */

.hello {
    border-radius: 120px 0px 120px 0px;
}

#hello {
    background-color: rgb(255, 146, 3);
}

#line {
    border:0.2px solid #ff921e;
    
}

#image {
    border: 1px solid #ffff;
    
}

/* About me border radius */
.about {
    
    border-radius: 200px 200px;
}

/* Card borders */
.card-deck .card {
    border-color: #ff921e;
}


/* BUTTON CSS */
.btn {
    background-color: rgb(255, 146, 3);
}

/* SKILL */
/* Footer css */
.py-3 .nav .nav-item .nav-link:hover {
    border: 1px solid;
    padding: 10px;
    box-shadow: 2px 5px rgb(255, 146, 3);

}

@media only screen and (max-width: 1000px) {
    .nav-link:hover {
        border-bottom: none !important;
    }

}

@media only screen and (max-width:600px) {
    .fontawesome .nav .nav-item {
        padding: 0px 5px 0px 5px;
        margin: 5px;
        font-size: large;
        background-color: aqua;
    }

  
}